## Loops

In [3]:
fruits=["apple","banana","cherry","date","elderberry"]

In [7]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date
elderberry

In [11]:
name="subodhkumaryadav"
for i in name:
    print(i, end=" ")

s u b o d h k u m a r y a d a v

In [13]:
## range

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(2,30):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [21]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [23]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [25]:
for i in range(12,0,-1):
    print(i)

12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
# controlling

In [29]:
for i in range(1,13):
    if (i%4==0):
        break
    print(i)

1
2
3

In [31]:
for i in range(11):
    if (i%2!=0):
        continue
    print(i)

0
2
4
6
8
10

In [33]:
## nested loop

In [37]:
for i in range(10):
    for j in range(5):
        print("subodh")

subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh

In [3]:
for i in range(4):
    for j in range(13):
        if j %4==0:
            print (j)

0
4
8
12
0
4
8
12
0
4
8
12
0
4
8
12

In [5]:
## while loop

In [7]:
num=10
while num>0:
    print("subodh")
    num-=1

subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh
subodh

### problem using the loop & conditionals

#### write a python program to print the sum of all the even number between 1 to 20 using the for loop

In [38]:
even_sum = 0
for num in range(1, 21):
    if num % 2 == 0:
        even_sum += num
print("Sum of even numbers between 1 and 21 is:", even_sum)

Sum of even numbers between 1 and 21 is: 110

In [42]:
sum=0
for i in range(1,21):
    if i%2==0:
        sum=sum+i
print(sum)

110

#### write a python program to count the number of vowels in a given string

In [59]:
count=0
str=input("Enter your string: ")
for ch in str:
    if ch.lower() in ['a',' e','i','o','u']:
        count=count+1
print(count)

Enter your string:  i am subodh kumar yadav

8

#### write a python program to print the fibonacci series up to n terms:

In [68]:
n=int(input("enter the number of terrms grator than 0: "))
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

enter the number of terrms grator than 0:  7

0 1 1 2 3 5 8

In [72]:
n=int (input("enter the number of terms that you want to print the fibonacci series: "))
if(n<0):
    print("enter the grater the 0")
elif(n==0):
    print("fibonacci series: 0")
else:
    a,b=0,1
    print(a,b,end=" ")
    for i in range(2,n):
        print(a+b,end=" ")
        a,b=b,a+b

enter the number of terms that you want to print the fibonacci series:  4

0 1 1 2

#### write a program to check the number is prime or not

In [81]:
n=int(input("enter the number: "))
isprime=True
if(n<=1):
    isprime=False
for i in range(2,int(n/2)+1):
    if i%2==0:
        isprime=False
print("prime: ",isprime)

enter the number:  3

prime:  True

#### write a python program to print the multiplication table of the given number

In [3]:
n=int(input("enter the number: "))
for i in range(1,11):
    print(f"{n}*{i}=",n*i)

enter the number:  33

33*1= 33
33*2= 66
33*3= 99
33*4= 132
33*5= 165
33*6= 198
33*7= 231
33*8= 264
33*9= 297
33*10= 330

#### Pattern printing

In [8]:
"""""   *
        **
        ***
        ****
        *****
"""

for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****